		<div class="row">
			<h2 style="text-align:center; font-weight:800">Cerrar juegos por semana</h2>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-2"><h4>Selecciona una semana</h4></div>
				<div class="col-md-3"><%= select_tag "access", options_from_collection_for_select(SurvivorWeekGame.all, "id", "select_display"), class: 'form_input', id: 'week_number' %></div>
				<div class="col-md-3"></div>
			</div>
			<hr>
			<div class="row" id="games_row">
			</div>
			<div class="row text-center" id="submit_row">
			</div>
			<script>
				var current_language = $("#current_language").val();

        function get_games() {
					var week = $('#week_number option:selected').val();
					$.ajax({
				  method: "GET",
				  format: "json",
				  url: "/survivor_week_games/get_games",
				  data: { id: week}
				})
				  .done(function( data ) {
				 $('#games_row').html("");
				 $('#submit_row').html("");

         if(data.survivor_games) {
						 for(var i in data.survivor_games){
		         var image_url = data.survivor_games[i].team.logo_url;
		         var image_url2 = data.survivor_games[i].team2.logo_url;
						 var winner_team_1 = "";
						 var winner_team_2 = "";
						 var local_score_label = "";
						 var visit_score_label = "";

						 if(data.survivor_games[i].winner_team === data.survivor_games[i].team.id) {
		             winner_team_1 = '<img src="/assets/trophy.png" class="trophy">';
						 }
						 else if (data.survivor_games[i].winner_team === data.survivor_games[i].team2.id) {
		             winner_team_2 = '<img src="/assets/trophy.png" class="trophy">';
						 }

		         if (data.survivor_games[i].local_score !== null) {
							   local_score_label = "<label class='score_label'>" + data.survivor_games[i].local_score + "</label>";
						 }

						 if (data.survivor_games[i].visit_score !== null){
		             visit_score_label = "<label class='score_label'>" + data.survivor_games[i].visit_score + "</label>";
						 }
								$('#games_row').append('<div class="col-md-4 teams-div"><h4 style="text-align: center;"> Fecha del juego: <span>'+moment(data.survivor_games[i].game_date,'',current_language).format('dddd D MMMM, YYYY hh:mm a')+'  </span> </h4> <div class="col-md-6 team-div" data-game="'+data.survivor_games[i].id+'" data-team="'+data.survivor_games[i].team.id+'"><img width="100%" src="' + image_url + '">' + winner_team_1 + local_score_label + '</div><div class="col-md-6 team-div" data-game="'+data.survivor_games[i].id+'" data-team="'+data.survivor_games[i].team2.id+'"><img width="100%" src="' + image_url2 + '">' + winner_team_2 + visit_score_label + '</div></div>');
		         }
				  }

					if(data.last_week) {
							$("#submit_row").append(
								  "<input id='survivor_week_game_id' type='hidden' value='" + data.id + "'/>" +
									"<input id='survivor_id' type='hidden' value='" + data.survivor_id + "'/>"
							);
					}

					if(data.can_close) {
						  $("#submit_row").append("<button id='close_survivor' data-url='/survivors/close/" + data.survivor_id + "' class='btn btn-default btn-lg'>Cerrar survivor</button><br/>");
					}
				  });
				}

				function show_close_survivor() {
					  if($("#can_close").length === 0) {
							  $.get(
		                "/survivor_week_games/can_close/" + $("#survivor_week_game_id").val(),
										function(data) {
											  if(data.can_close) {
										        $("<button id='close_survivor' data-url='/survivors/close/" + $("#survivor_id").val() + "' class='btn btn-default btn-lg' style='display: none;'>Cerrar survivor</button><br/>").appendTo("#submit_row").fadeIn();
		                    }
										}
								);
						}
				}

				function declare_winner(team_div, team_id, local_score_value, visit_score_value) {
						var $team_div = team_div;
						var game_id = $team_div.data("game");

						$.ajax({
								method: "PUT",
								url: "/survivor_games/"+ game_id,
								dataType: "json",
								data: { survivor_game: { winner_team: team_id, local_score: local_score_value, visit_score: visit_score_value } },
								success: function(data, text_status, jq_xhr) {
										$team_div.parent().find(".trophy").remove();

										if(team_id) {
										    $("<img class='trophy'/>").appendTo($team_div).addClass("selected").attr("src", "/assets/trophy.png");
										}

										show_close_survivor();
								}
						});
				}

				function close_survivor() {
            $.ajax({
							  method: "PUT",
								url: $(this).data("url"),
								complete: function(data, text_status, jq_xhr) {
									  if(text_status == "success") {
									      $("#close_survivor").prop("disabled", true);
										}
								}
						});
				}

				$('#week_number').change(get_games);
				$('#week_number').each(get_games);

				$(document).on("click", ".team-div", function() {
						if($(this).children(".score").length === 0) {
								$("<input type='text' class='score'/>").appendTo($(this)).focus();
						}
				});

				$(document).on("keyup", ".score", function(e) {
					  if(e.keyCode == 13) {
                var $local_score = $(this).closest(".teams-div").children(".team-div").first().find(".score");
								var $visit_score = $(this).closest(".teams-div").children(".team-div").last().find(".score");
								var local_score_value, visit_score_value, winner;

								if ($local_score.length && $local_score.val() !== "") {
									  local_score_value = $local_score.val();
								}
								else {
									  $local_score = $(this).closest(".teams-div").children(".team-div").first().find(".score_label")

										if ($local_score.length) {
											  local_score_value = $local_score.text();
										}
								}

								if ($visit_score.length && $visit_score.val() !== "") {
										visit_score_value = $visit_score.val();
							  }
							  else {
										$visit_score = $(this).closest(".teams-div").children(".team-div").last().find(".score_label")

										if ($visit_score.length) {
												visit_score_value = $visit_score.text();
										}
								}

                if(local_score_value && visit_score_value) {
										if(local_score_value > visit_score_value) {
											  winner = $local_score.parent().data("team");
												declare_winner($local_score.parent(), $local_score.parent().data("team"), local_score_value, visit_score_value);
										}
										else if(visit_score_value > local_score_value) {
											  winner = $visit_score.parent().data("team");
												declare_winner($visit_score.parent(), $visit_score.parent().data("team"), local_score_value, visit_score_value);
										}
										else {
											  $(this).closest(".teams-div").find(".trophy").remove();
												declare_winner($(this).parent(), null, local_score_value, visit_score_value);
										}
								}
								else {
									  $(this).closest(".teams-div").find(".trophy").remove();
								}

								$(this).closest(".teams-div").find(".score").each(function() {
									  var score_value = $(this).val();

										if(score_value !== "") {
		                    var $label_score = $(this).siblings(".score_label");

												if($label_score.length === 0) {
												    $label_score = $("<label class='score_label'></label>").appendTo($(this).parent());
												}

										    $label_score.text(score_value);
									  }
								});

								$("input[type='text'].score").remove();
						}
				  });

					$(document).on("click", "#close_survivor", close_survivor);
			</script>
		</div>
