		<div class="row">
			<h2 style="text-align:center; font-weight:800">Cerrar juegos por semana</h2>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-2"><h4>Selecciona una semana</h4></div>
				<div class="col-md-3"><%= select_tag "access", options_from_collection_for_select(SurvivorWeekGame.all, "id", "select_display"), class: 'form_input', id: 'week_number' %></div>
				<div class="col-md-3"></div>
			</div>
			<hr>
			<div class="row" id="games_row">

			</div>
			<script>
				  var current_language = $("#current_language").val();
				$('#week_number').change(function(){
					var week = $('#week_number option:selected').val();
					$.ajax({
				  method: "GET",
				  format: "json",
				  url: "/survivor_week_games/get_games",
				  data: { id: week}
				})
				  .done(function( data ) {
				  $('#games_row').html("");
					for(var i in data.survivor_week_games){
         var image_url = data.survivor_week_games[i].team.logo_url;
         var image_url2 = data.survivor_week_games[i].second_team.logo_url;

						$('#games_row').append('<div class="col-md-4 teams-div"><h4 style="text-align: center;"> Fecha del juego: <span>'+moment(data.survivor_week_games[i].game_date,'',current_language).format('dddd D MMMM, YYYY hh:mm a')+'  </span> </h4> <div class="col-md-6 team-div" data-game="'+data.survivor_week_games[i].id+'" data-team="'+data.survivor_week_games[i].team.id+'"><img width="100%" src="' + image_url + '"></div><div class="col-md-6 team-div" data-game="'+data.survivor_week_games[i].id+'" data-team="'+data.survivor_week_games[i].second_team.id+'"><img width="100%" src="'+image_url2+'"></div></div>');
          }
				  });
				});

				$(document).on("mouseover", ".team-div", function() {
					  if($(this).children(".trophy").length === 0) {
							  $(this).append('<img src="/assets/trophy_bw.png" class="trophy">');
						}
				});

				$(document).on("mouseout", ".team-div", function() {
					  $(this).children(".trophy:not(.selected)").remove();
				});

        $(document).on("click", ".team-div", function() {
					  if($(this).children(".selected").length === 0) {
								var $team_div = $(this);
								var game_id = $team_div.data("game");
								var team_id = $team_div.data("team");

								$.ajax({
								    method: "PUT",
										url: "/survivor_games/"+ game_id,
										dataType: "json",
										data: { survivor_game: { winner_team: team_id } },
								    success: function(data, text_status, jq_xhr) {
												var $selected_team = $team_div.closest(".teams-div").find(".selected");

												if($selected_team) {
													  $selected_team.parent().removeClass("shake_effect");
													  $selected_team.remove();
												}

				                $team_div.addClass("shake_effect");
												$team_div.children(".trophy").addClass("selected").attr("src", "/assets/trophy.png");
									  }
								});
						}
				});
			</script>
		</div>
