<div class="row">
  <!-- begin col-12 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t("actions.new_title_male", model: t("activerecord.models.pick_user_game").downcase) %></h3>
        </div>
      </div>
      <div class="panel-body">
        <%= render "form" %>
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :index, PickUserGame  %>
      <%= link_to pick_user_games_path, :class => "btn btn-default" do %>
        <i class='icon-chevron-left'></i>
        <%= t("actions.back") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->