<div class="row" style="margin-bottom:80px !important;" >
<h4 style="text-align:center; font-size:26px; color:#2d68ac; font-weight:700;">Transferencia Bancaria</h4>
<hr>
<div class="row" style="">
    <div class="col-md-4 col-xs-12">
         <img width="100%" height="500px" src="/assets/SPEI.jpg">
    </div>


    <div class="col-md-4 col-xs-12" style="border-left:1px solid black; height:500px;">
          <h4 style="text-align:center; color:white; font-size:18px;">Ahora tambien puedes abonar saldo por medio de deposito bancario</h4>
        <hr>
        <h4 style="color:#2d68ac;">Como realizar el pago </h4>
         <ol  style="font-size:14px;">
             <li style="margin-bottom:4px; color:white;">Selecciona de lado derecho la cantidad que deseas abonar a tu cuenta</li>
             <li style="margin-bottom:4px; color:white;">Presiona el boton para generar el recibo de pago (Si tienes bloqueadas las ventanas emergentes,permitela ya que el recibo de pago se abrira en otra ventana)</li>
             <li style="margin-bottom:4px; color:white;">Al presionar el boton se te abrira una ventana nueva con el recibo de pago, en caso de no ser asi presiona el boton que aparece debajo de generar recibo, guarda el recibo en tu smartphone, o imprimelo.</li>
             <li style="margin-bottom:4px; color:white;">Accede a tu aplicaci贸n de banca m贸vil del banco que desees.</li>
             <li style="margin-bottom:4px; color:white;">En la aplicacion debes de seleccionar transferencia bancaria, en esta secci贸n te debe pedir como datos principales la cantidad a transferir y la cuenta destino.</li>
             <li style="margin-bottom:4px; color:white;">Algunas aplicaciones pueden pedir solo el concepto de pago o la referencia generada.</li>
             <li style="margin-bottom:4px; color:white;">Realiza la transacci贸n y si no existe ningun problema con la transferencia veras tu saldo reflejado en pocos minutos.</li>
        </ol>
        <br>
        <h4  style="color:#2d68ac;">Si tienes dudas comunicate por medio de nuestro chat, y un asesor te atendera con gusto.</h4>

    </div>
    <div class="col-md-4 col-xs-12" style="border-left:1px solid black; height:500px;">
        <hr>
        <h4 style="text-align:center; font-size:20px; color:#2d68ac; margin-top:10%"> Realizar pago por medio de transferencia bancaria </h4>
        <hr>
        <h4 style="text-align:center; font-size;18px; color:white;">Cantidad a abonar:</h4>
     <div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">$</span>
  <input id="amount_input_bank" type="number" style="font-weight:800; color:#2d68ac;" class="form-control" placeholder="Cantidad en $ Pesos" aria-describedby="sizing-addon2">
</div>
            <hr>
      <h4 style="text-align:center"><button id="pay_store_bank" class="btn btn-lg btn-primary">Generar Recibo de Pago</button></h4>

        <div class="row" style="display:none;" id="complete_store_bank">
            <hr>
           <h4 style="text-align:center; color:green;">El Recibo se a generado correctamente</h4>
            <hr>
            <h4 style="text-align:center; color:white;"> Si no se te mostro automaticamente el recibo de clic en este boton</h4>
            <h4 style="text-align:center"><a class="btn btn-primary" target="_blank" id="link_to_recibe_bank">Ver Recibo</a></h4>

        </div>
    </div>
</div>
</div>

<script>
    $("#pay_store_bank").click(function(){
       if($("#amount_input_bank").val() == ""){
           alert("Selecciona una cantidad por favor")
       }else{
        $(this).prop("disabled",true);
        $.ajax({
				      method: "get",
					  url: "/partials/pay_store",
					  dataType: "json",
					  data: { bank_buy: true, amount: $("#amount_input_bank").val() }
					}).done(function(data) {
                $("#complete_store_bank").show();
                $("#link_to_recibe").attr("href","https://dashboard.openpay.mx/spei-pdf/ml8ii2xvkgmpoxjl0aib/"+data.id+"");
                var win = window.open("https://dashboard.openpay.mx/spei-pdf/ml8ii2xvkgmpoxjl0aib/"+data.id+"", '_blank');
               // $("#link_to_recibe_bank").attr("href","https://sandbox-dashboard.openpay.mx/spei-pdf/m8dvprmyk9adbcmhonod/"+data.id+"");
            //    var win = window.open("https://sandbox-dashboard.openpay.mx/spei-pdf/m8dvprmyk9adbcmhonod/"+data.id+"", '_blank');
                win.focus();
              })
       }
    })
</script>
