<style>
	.footer{
		position: fixed;
	}
</style>
   

<div class="row">
    <h2 style="color:black; text-align:center; font-weight:800;">La transacción se realizo con exito.</h2>
    <h2 style="color:black; text-align:center; font-weight:600;">Ahora puedes participar en nuestras Loterias y Tiras, ¡Buena suerte! </h2>
    <h2 style="color:#e4007d; text-align:center; font-weight:600;">¡Gracias por comprar saldo!</h2> 
</div>


<script>
$(document).ready(function(){
	setTimeout(function(){ window.location.assign("/");}, 3000);
	
})
</script>