

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=1549272788683515";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="row">
<div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px">Invitar amigos a DONBILLETE por correo electronico </h3>
        </div>
      </div>
      <div class="panel-body">
		  <h3 style="text-align:center">Invita a tus amigos a participar con nosotros y recibe una recompensa de 10 DB por cada usuario que ingrese tu codigo. Tus invitados recibiran 10 DB.</h3>
		  <h4 style="text-align:center">Solo escribe el correo de las personas que deseas invitar y comparte tu codigo de referencia:</h4>
		  <h4 style="text-align:center"> Tu codigo: <span style="color:red" id="reference"><%= current_user.friend_reference %> </span></h4>
		  <hr>

		  <div class="col-md-6" >
		  	<h3 style="text-align:center">Agrega el correo electronico de tus amigos que deseas invitar.</h3>
			  <input type="email" class="form-control" id="invitation_mail">
			  <br>
			 <h5 style="text-align:center"> <button id="add_mail" class="btn btn-primary" >Agregar Correo</button></h5>
		  </div>
		  <div class="col-md-6" style="border-left:1px solid #e4007d">
		  	<h3 style="text-align:center">Lista de correos electronicos para invitar</h3>
			  <ul id="email_list">

			  </ul>
			 <h4 style="text-align:center"> <button disabled class="btn btn-primary" id="send_emails"> Enviar correo </button> </h4>
		  </div>

	</div>
	</div>
</div>

<script>
	var emails = [];
	var reference = $('#reference').text();
	$('#add_mail').click(function(){
		var mail = $('#invitation_mail').val();
		var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
		if (regex.test(mail.trim())){
			$('#email_list').append('<li style="font-size:16px;"> '+ mail +' </li>');
			$('#invitation_mail').val('');
			emails.push(mail);
			$('#send_emails').prop( "disabled", false );
		}else
		{ alert('Este no es un correo valido')}
	})

	$('#send_emails').click(function(){
			$(this).prop('disabled', true);
			$.ajax({
				  url: "/partials/inviting/",
				  method: "POST",
                  data: { mails: emails, reference: reference }

					})
				  .done(function( msg ) {
					alert("La invitacion se realizo con exito. Gracias por invitar a tus amigos");
				    setTimeout(function(){ location.reload(); }, 1000);
				  });
			})



</script>

<div class="row">
  <div class="panel panel-primary">
        <div class="panel-heading">
    <h3 style="text-align:center">Comparte con tus amigos en redes sociales</h3>
      </div>
        <div class="panel-body">

    <div class="col-md-4" style="text-align:center">
      <h3 style="text-align:center; color:#3b5998; font-weight:800;">FACEBOOK</h3>
      <div class="fb-share-button" data-href="https://www.facebook.com/7donbillete" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2F7donbillete&amp;src=sdkpreparse">Compartir</a></div>
    </div>

    <div class="col-md-4" style="text-align:center">
          <h3 style="text-align:center; color:#3b5998; font-weight:800;">INSTAGRAM</h3>
    <style>.ig-b- { display: inline-block; }
    .ig-b- img { visibility: hidden; }
    .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
    .ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }</style>
    <a href="https://www.instagram.com/donbillete/?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /></a>
    </div>

    <div class="col-md-4" style="text-align:center">
              <h3 style="text-align:center; color:#55acee; font-weight:800;">TWEETER</h3>
      <a href="https://twitter.com/7donbillete" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @7donbillete</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    </div>

  </div>

</div>
</div>
