<style media="screen">
  body{background-color:white !important;}
</style>


<div class="row" style="margin-bottom:80px !important">
<h2 style="text-align:center; color:black; font-weight:700;"> Reglas de loterias </h2>
<hr>
  <div class="col-md-6 wow bounceInLeft">

    <h2 style="font-weight:600; color:black;">¿Te sientes con suerte?</h2>
    <h3 style="color:white;">Prueba nuestras loterias de la NBA.</h3>
    <hr>

    <div class="row">
      <div class="col-sm-12">
        <ul style="font-size:16px; color:white; font-weight:500;" class="list-unstyled iconList">
          <li style="margin-bottom: 5px;">- Escoge tu número de la suerte</li>
          <li style="margin-bottom: 5px;">- Este número corresponde al marcador final de cada equipo</li>
          <li style="margin-bottom: 5px;">- El primer digito corresponde al digito final del marcador del  local</li>
          <li style="margin-bottom: 5px;">- El segundo digito corresponde al digito final del marcador del  visitante</li>
          <li style="margin-bottom: 5px;">- Si tu número ganador coincide con el marcador real ya ganaste.</li>
        </ul>
      </div>


    </div>
    <br>
    <h4 style="color:black; font-size:18px;"><i style="color:white" class="fa fa-desktop line-icon-before"></i> Sin trampas en el resultado</h4>
    <h5 style="color:white; font-size:14px;">El ganador se elije segun el marcador oficial de los partidos por lo cual tendras la certeza de que si tu numero elegido coincide con el resultado del partido, ya eres ganador.</h5>

  </div><!-- .com-md-6 -->

  <div class="col-md-6 wow bounceInRight">
    <h4 style="text-align:center"><img width="80%" src="/assets/images/landinloteria.PNG" alt=""></h4>
  </div>

  <div class="clearfix"></div>


</div><!-- .row -->
