
   <div class="row">
    <h4 style="text-align:center; font-size:24px; color:#2d68ac;"> Reglas del pick ‘em </h4>
    <hr style="border-color:#2d68ac;">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
    <h4 style="color:black; font-size:16px;">1.- Si aún no tienes, crea tu usuario de DonBillete.</h4>
    <br>
    <h4 style="color:black; font-size:16px;">2.- Ingresa a la sección de pick ‘em del sitio y decide si:</h4>
    <p style="color:black">- Crear tu propia liga para invitar a tus amigos.</p>
    <p style="color:black">- Participa en alguna de las ligas creadas por algún conocido.</p>
    <p style="color:black">- Participa en el Pick ‘em de Don Billete y juega por la increíble bolsa.</p>
    <br>
    <h4 style="color:black; font-size:16px;">3.- Una vez que empiece la temporada, cada semana deberás de seleccionar los equipos que crees que resultarán ganadores TOMANDO EN CUENTA EL SPREAD.</h4>
    <br>
    <h4 style="color:black; font-size:16px;">4.- Tienes que cargar tus selecciones antes de que comience cada juego, si se te fue el del jueves ¡No te preocupes! Aún estás a tiempo de cargar tus selecciones de los demás juegos.</h4>
    <br>
    <h4 style="color:black; font-size:16px;">5.- Por cada selección correcta obtendrás un punto. Al final de la temporada, el jugador con más puntos será declarado el campeón de la liga y ganador de la bolsa acumulada.</h4>
      <br>
    <h4 style="color:black; font-size:16px;">6.- No te desanimes si vas mal, cada semana hay premios para el ganador de la semana por lo que todos pueden ganar siempre.</h4>
    <br>
    </div>
    
</div>