<h1 style="text-align:center; font-size:30px; font-weight:900; color:#2d68ac;"><span  class="hide-phone">───────</span> Survivors <span  class="hide-phone">───────</span></h1>
<div id="mainwrapper"><!-- This #mainwrapper section contains all of our images to make them center and look proper in the browser ->
 
</div> <!-- end of #mainwrapper-->
</div>
<div class="clearfix"></div>
<hr>

<script>
	$( document ).ready(function() {
	  $.ajax({
            method: "GET",
            url: "/partials/current_survivors",
            format: "json"
               }).done(function(data) {
		   for( var i in data.partials){
			   
			    var week_length = data.partials[i].survivor_week_survivors.length;
			  
			   if(data.partials[i].survivor_week_survivors[0]){
				   if (data.partials[i].survivor_week_survivors[0].survivor_week_game){
					   var game_lengh = data.partials[i].survivor_week_survivors[0].survivor_week_game;
					    var initial = data.partials[i].survivor_week_survivors[0].survivor_week_game.initial_date;
					    var final = data.partials[i].survivor_week_survivors[week_length - 1].survivor_week_game.final_date; 
				   }else{
					      var final = "0"; var initial="0"
				   }
				  
				   
			   }else{ 
				   var final = "0"; var initial="0"
				   }
			   
			   
			 $('.survivors').append('<h4 style="text-align:center"> '+data.partials[i].name+'</h4> <h4 style="text-align:center"> '+data.partials[i].description+'</h4> <h4 style="text-align:center"> '+data.partials[i].initial_balance+'</h4> <h4 style="text-align:center"> '+data.partials[i].price+'</h4><h4 style="text-align:center"> '+initial +'</h4> <h4 style="text-align:center"> '+final+'</h4>');	   
		   }	 	 
	  });		
			});
</script>