
<style>
	
	#mainwrapper .box{
		margin-left: 0px !important;
		margin-top: 0px !important;
	}
	
	#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption{
		margin-top:-182px ;
	}
</style>

<h1 style="text-align:center; font-size:30px; font-weight:900; color:#2d68ac;"><span  class="hide-phone">───────</span> Survivors <span  class="hide-phone">───────</span></h1>
<div id="mainwrapper"> <br><!-- This #mainwrapper section contains all of our images to make them center and look proper in the browser ->

 
</div> <!-- end of #mainwrapper-->
</div>
<div class="clearfix"></div>
<hr>

<script>
	$( document ).ready(function() {
		  var current_language = $("#current_language").val();
	  $.ajax({
            method: "GET",
            url: "/partials/current_survivors",
            format: "json"
               }).done(function(data) {
		   for( var i in data.partials){
			   
			    var week_length = data.partials[i].survivor_week_survivors.length;
			  
			   if(data.partials[i].survivor_week_survivors[0]){
				   if (data.partials[i].survivor_week_survivors[0].survivor_week_game){
					   var game_lengh = data.partials[i].survivor_week_survivors[0].survivor_week_game;
					    var initial = data.partials[i].survivor_week_survivors[0].survivor_week_game.initial_date;
					    var final = data.partials[i].survivor_week_survivors[week_length - 1].survivor_week_game.final_date; 
				   }else{
					      var final = "0"; var initial="0"
				   }
				  
				   
			   }else{ 
				   var final = "0"; var initial="0"
				   }
			   	if(data.partials[i].participant_users != [] && data.partials[i].participant_users != null && data.partials[i].participant_users != '' ){
					var participants = data.partials[i].participant_users.length
				}else{
					var participants = 0
				}
			   
			   if (data.partials[i].user_id == 1){
				    $('#mainwrapper').append('<div id="box-3" style="height:400px !important; padding:0px; background-image: url('+data.partials[i].background_url+') " class="box col-md-6 col-xs-12"><div class="row" style="height:400px; background-color:rgba(0, 0, 0, 0.3)"><h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:18px; font-weight:800;">'+data.partials[i].name+ '</h4> <img style="position:relative !important; height:180px;" src="/assets/nombre.png" width="70%"><br><div class="row"><div class="col-md-7 col-xs-7"><h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Bolsa Acumulada </h3><h3 style="text-align:center; color: #00ff37;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:25px; text-transform: capitalize; font-weight:800;"> <span>'+data.partials[i].initial_balance+' </span> DB </h3></div> <div class="col-md-5 col-xs-5"> <h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Precio </h3> <h3 style="text-align:center; font-size:25px; color: #00ff37;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-transform: capitalize; font-weight:800;"> <span> '+data.partials[i].price+'</span> DB </h3> </div> </div> <div class="row"> <h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Usuarios Participando </h3> <h3 style="text-align:center; font-size:25px; color: #00ff37;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-transform: capitalize; font-weight:800;"> <span> '+participants+' </span> </h3>   </div> </div><span class="caption captionBillete fade-caption" style="height:400px; margin-top:-400px; width:100%;"><h3 style="text-align:center">'+data.partials[i].name+' </h3> <h3 style="text-align:center; color:white;"> Creada por: </h3> <h3 style="text-align:center"> DONBILLETE </h3> <hr>  <h3 style="text-align:center">Participa en el survivor oficial de DonBillete</h3> <h4 style="text-align:center"><button  data-survivor = "'+data.partials[i].id+'" style="width:80%" class="enter_survivor btn btn-primary"> Entrar a liga </button> </h4> </span></div>');
			   }else{
				   $('#mainwrapper').append('<input id="pass'+i+'" type="hidden"  value="'+data.partials[i].access_key+'"><div id="box-3" style="background-image: url('+data.partials[i].background_url+')" class="box col-md-3 col-xs-12"><div class="row"><h4 style="text-align:center;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:18px; font-weight:800;">'+data.partials[i].name+ '</h4><br><div class="row"><div class="col-md-7 col-xs-7"><h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Bolsa Acumulada </h3><h3 style="text-align:center; color: #00ff37;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px; text-transform: capitalize; font-weight:800;"> <span>'+data.partials[i].initial_balance+' </span> DB </h3></div> <div class="col-md-5 col-xs-5"> <h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Precio </h3> <h3 style="text-align:center; font-size:20px; color: #00ff37;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-transform: capitalize; font-weight:800;"> <span> '+data.partials[i].price+'</span> DB </h3> </div> </div> <div class="row"> <h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Usuarios Participando </h3> <h3 style="text-align:center; font-size:20px; color: #00ff37;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-transform: capitalize; font-weight:800;"> <span> '+participants+' </span> </h3>   </div> </div><span class="caption normalcaption fade-caption"><h3 style="text-align:center">'+data.partials[i].name+' </h3> <h3 style="text-align:center; color:white;"> Creada por: <span style="text-align:center"> '+data.partials[i].user_username+' </span> </h3>  <hr>  <h4 style="text-align:center"><button data-password = "pass'+i+'" data-survivor = "'+data.partials[i].id+'" data-input="input_access'+i+'" style="font-weight:600;" class="enter_survivor btn btn-primary"> Entrar a liga </button> <input class="input_access'+i+'" style="color:black; " placeholder="Contraseña" type="text"> </h4> <h4> <button class="btn" style="width:100%; font-weight:600; background-color:white; border-color:white; color:black;"> Solicitar acceso  </button> </h4>  </span></div>');
			   }
			   
			 
			   
			   
		   }
		  $('.enter_survivor').click(function(){
				 $(this).prop('disabled', true);
				 var input = $(this).data('input');
			     var survivor = $(this).data('survivor');
				 var password1 = $(this).data('password');
			     var password = $('#'+password1+'').val();
				 
				 if($('.'+input).val() == password){
					  window.location = '/partials/set_survivor_page/'+survivor+''
				 }else{
					 $(this).prop('disabled',false);
				 }
			 })
	  });		
			});
	
</script>