<style>
	#main-con{
		margin-top:-2% !important;
	}
</style>
   
   <div class="modal fade" id="survivor_rules_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	
      </div>
     
    </div>
  </div>
</div>

   <div class="row" style="background-image: url('/assets/backgroundsurvivor.jpg'); background-size: cover;
    background-position-y: 68%;">
<br>
	<h1 style="text-align:center; margin-top:10%; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:450%; font-weight:900;">
		Bienvenido a las Ligas de <span style="color:#2d68ac; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">SURVIVOR</span>
	</h1>
	<br>
	<h3 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 font-size:20px; color:white; font-weight:800;"> Te invitamos a participar a nuestras ligas de survivor.</h3>
	<h3 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px; color:white; font-weight:800;">Es sencillo solo selecciona el equipo que consideras sera el ganador por semana.</h3>
	<h3 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px; color:white; font-weight:800;">Pero recuerda que solo puedes elegir una sola ves al mismo equipo durante la liga de survivor.</h3>
	<br>
	<hr>
	<br>
	<div class="col-md-12">
	<div class="col-md-3 col-xs-6">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px; color:white;  font-weight:700;"> Liga DonBillete </h4>
			<h4 style="text-align:center"><a data-toggle="modal" data-target="#survivor_rules_modal" style="width:100%; font-weight:800;" class="btn btn-lg btn-primary"> Entrar </a></h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px; color:white;  font-weight:700;"> Crea tu liga de survivor </h4>
			<h4 style="text-align:center"><a href="/survivors/new" style="width:100%; font-weight:800;" class="btn btn-lg btn-primary"> Crear </a></h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px; color:white; font-weight:700;">Ingresa a una liga existente</h4>
			<h4 style="text-align:center"><a href="/partials/survivor_leagues" class="btn btn-lg btn-primary" style="width:100%; font-weight:800;"> Ingresar </a></h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px; color:white;  font-weight:700;"> Tus ligas survivor </h4>
			<h4 style="text-align:center"><a href="/partials/my_leagues" style="width:100%; font-weight:800;" class="btn btn-lg btn-primary"> Ingresar </a></h4>
			</div>
		</div>
	</div>
</div>

