<div class="row">
    <h4 style="text-align:center; font-size:20px;"> Reglas del survivor </h4>
    <hr>
    <div class="col-md-6 "></div>
    <h4>1.- Si aún no tienes, crea tu usuario de DonBillete.</h4>
    <br>
    <h4>2.- Ingresa a la pestaña de Survivor y decide si:</h4>
    <p>- Crear tu liga para invitar a tus amigos.</p>
    <p>- Participa en la liga de algún conocido.</p>
    <p>- Participa en las increíbles ligas de DonBillete con grandes bolsas acumuladas.</p>
</div>