<style>
	#main-con{
		margin-top:-2% !important;
	}
	
	
	.footer{
		position:fixed;
	}
	
	
	
</style>
   
   <div class="modal fade" id="survivor_rules_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	
      </div>
     
    </div>
  </div>
</div>

   <div class="row" style="background-image: url('/assets/backgroundsurvivor.jpg'); background-size:cover;
    background-position-y: 68%;">
<br>
	<h1 style="text-align:center; margin-top:5%; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:450%; font-weight:900;">  <img style="background-color:hsla(0, 0%, 0%, 0.2);" width="10%"  src="/assets/LogoMakr2White2.png"> 
		Bienvenido a las Ligas <span style="color:#2D68AC; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">SURVIVOR</span>
	</h1>
			<h4 style="text-align:center"></h4>
	<br>
	<br>
	<hr>
	<br>
	<div class="col-md-12" style="padding-bottom:73px;">
	<div class="col-md-3 col-xs-12">
		<div class="col-md-8 col-md-offset-2  col-xs-12">
			
			<h4 style="text-align:center"><a href="/partials/set_survivor_page/4" style="width:100%; background-color:#2D68AC; border-color:black; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight:800;" class="btn btn-lg btn-primary"> Liga <span style="color:#2d68ac;  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; font-weight:900;     font-family: sans-serif;">DON<span style="color:black">BILLETE </span></span> </a></h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
		<div class="col-md-8 col-md-offset-2  col-xs-12">
			
			<h4 style="text-align:center"><a href="/survivors/new" style="width:100%; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; background-color:#2D68AC; border-color:black; font-weight:800;" class="btn btn-lg btn-primary"> Crea tu liga </a></h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="col-md-8 col-md-offset-2  col-xs-12">
			<h4 style="text-align:center"><a href="/partials/survivor_leagues" class="btn btn-lg btn-primary" style="width:100%;  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; background-color:#2D68AC; border-color:black; font-weight:800;"> Ingresa a una liga </a></h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
		<div class="col-md-8 col-md-offset-2  col-xs-12">
			<h4 style="text-align:center"><a href="/partials/my_leagues" style="width:100%; background-color:#2D68AC; border-color:black; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight:800;" class="btn btn-lg btn-primary"> Tus ligas survivor </a></h4>
			</div>
		</div>
		<br>
	</div>
	<div class="clearfix"></div>
	<br><br>
</div>

