<style>
	#main-con{
		margin-top:-2% !important;
	}
</style>
   

   <div class="row" style="background-image: url('/assets/backgroundsurvivor.jpg'); background-size: cover;
    background-position-y: 49%;">
<br>
	<h1 style="text-align:center; color:white; font-weight:900;">
		Bienvenido a las ligas de survivor
	</h1>
	<h3 style="text-align:center; color:white; font-weight:800;"> Te invitamos a participar a nuestras ligas de survivor.</h3>
	<h3 style="text-align:center; color:white; font-weight:800;">Es sencillo solo selecciona el equipo que consideras sera el ganador por semana.</h3>
	<h3 style="text-align:center; color:white; font-weight:800;">Pero recuerda que solo puedes elegir una sola ves al mismo equipo durante la liga de survivor.</h3>
	<hr>
	<div class="col-md-12">
		<div class="col-md-6">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h4 style="text-align:center; font-size:20px; color:white;  font-weight:700;"> Crea tu liga de survivor </h4>
			<h4 style="text-align:center"><a href="/survivors/new" class="btn btn-lg btn-primary"> Crear </a></h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h4 style="text-align:center; font-size:20px; color:white; font-weight:700;">Ingresa a una liga existente</h4>
			<h4 style="text-align:center"><a class="btn btn-lg btn-primary"> Ingresar </a></h4>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="survivors"></div>
</div>


<script>
	$( document ).ready(function() {
	  $.ajax({
            method: "GET",
            url: "/partials/current_survivors",
            format: "json"
               }).done(function(data) {
		   for( var i in data.partials){
			   
			    var week_length = data.partials[i].survivor_week_games.length;
			   
			   
			 $('.survivors').append('<h4 style="text-align:center"> '+data.partials[i].name+'</h4> <h4 style="text-align:center"> '+data.partials[i].description+'</h4> <h4 style="text-align:center"> '+data.partials[i].initial_balance+'</h4> <h4 style="text-align:center"> '+data.partials[i].price+'</h4><h4 style="text-align:center"> '+data.partials[i].survivor_week_games[0].initial_date+'</h4> <h4 style="text-align:center"> '+data.partials[i].survivor_week_games[week_length - 1].final_date+'</h4>');	   
		   }	 	 
	  });		
			});
</script>