
   <div class="row">
    <h4 style="text-align:center; font-size:24px; color:#2d68ac;"> Reglas del survivor </h4>
    <hr style="border-color:#2d68ac;">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
    <h4 style="color:black; font-size:16px;">1.- Si aún no tienes, crea tu usuario de DonBillete.</h4>
    <br>
    <h4 style="color:black; font-size:16px;">2.- Ingresa a la pestaña de Survivor y decide si:</h4>
    <p style="color:black">- Crear tu liga para invitar a tus amigos.</p>
    <p style="color:black">- Participa en la liga de algún conocido.</p>
    <p style="color:black">- Participa en las increíbles ligas de DonBillete con grandes bolsas acumuladas.</p>
    <br>
    <h4 style="color:black; font-size:16px;">3.- Una vez que comience la temporada(08/09/2016) cada semana deberás elegir a un equipo que ganará. !Recuerda! Una vez que elegiste a un equipo, no podrás cambiar tu decisión.</h4>
    <br>
    <h4 style="color:black; font-size:16px;">4.- Si el equipo que seleccionaste resulta ganador !Ya sobreviviste! y deberás escoger un equipo distinto la proxima semana para seguir compitiendo con los demás sobrevivientes.</h4>
    <br>
    <h4 style="color:black; font-size:16px;">5.- Esta mecánica se repetirá hasta que quede un solo sobreviviente, el cual será declarado el campeón y ganador de la bolsa acumulada.</h4>
    </div>

</div>
