
   <div class="row" style="margin-bottom:80px !important;">
    <h4 style="text-align:center; font-size:24px; color:#2d68ac;"> Reglas de Tiras </h4>
    <hr style="border-color:#2d68ac;">
       <div class="col-md-6 col-xs-12 ">
    <h4 style="color:#2d68ac; text-align:center; font-size:20px;">!Participa en nuestras tiras clasicas DonBillete!</h4>
    <hr>
    <h4 style="color:black; font-size:16px;">1.- Haz login con tu usuario de Don Billete o crea uno si es la 1a vez que nos visitas. </h4>
    <br>
     <h4 style="color:black; font-size:16px;">2.- Elige una tira en la cual participarás. Las tiras son generadas con preguntas sobre tus conocimientos de la NFL. ej. ¿Tom Brady lanzará para más de 300 yds? Tú deberás responder SÍ o NO lo cual generará un número.  </h4>
    <br>
    <h4 style="color:black; font-size:16px;">3.- Posteriormente, responde las siguientes preguntas. ¡Puede haber tiras desde 3 y hasta 12 preguntas! Mientras más hayá, mayores serán los premios. </h4>
    <br>
     <h4 style="color:black; font-size:16px;">4.- Así de simple es ganar con las nuevas tiras de Don Billete. Ponte a participar y no te quedes fuera!! </h4>


</div>
    <div class="col-md-6 col-xs-12" style="border-left:1px solid #2d68ac">
    <h4 style="color:#2d68ac; text-align:center; font-size:20px;">!Participa en nuestras nuevas tiras basadas en Fantasy Football! El fenomeno mundial que cada vez atrae a más jugadores. </h4>
    <hr>
    <h4 style="color:black; font-size:16px;">1.- Las reglas son las mismas que en todas nuestras tiras. Habrá una serie de opciones basadas en resultados de los jugadores de Fantasy más populares entre las que tendrás que decidir basándote en tus conocimientos de la NFL. </h4>
    <br>
    <h4 style="color:black; font-size:16px;">2.- Las puntuaciones serán tomadas de la página nfl.com y serán las manejadas de manera estándar por la NFL:</h4>
    <p style="color:black; font-size:14px"> - Yds por pase: 1 punto por cada 25 yds </p>
    <p style="color:black; font-size:14px"> - Pases de TD: 4 puntos </p>
    <p style="color:black; font-size:14px"> - Intercepciones: -2 puntos </p>
    <p style="color:black; font-size:14px"> - Yds por tierra: 1 punto por cada 10 yds </p>
    <p style="color:black; font-size:14px"> - TDs por tierra: 6 puntos </p>
    <p style="color:black; font-size:14px"> - Yds por recepciones: 1 punto por cada 10 yds </p>
    <p style="color:black; font-size:14px"> - TDs por recepciones: 6 puntos </p>
    <p style="color:black; font-size:14px"> - Fumble recuperado para TD: 6 puntos </p>
    <p style="color:black; font-size:14px"> - Conversiones de 2 pts: 2 puntos </p>
    <p style="color:black; font-size:14px"> - Fumbles perdidos: -2 puntos </p>

</div>
</div>
