<ul id="news">
	<li>
		<a href="#n1">1 Lorem ipsum dolor</a>
	</li>
	<li>
		<a href="#n2">2 Sit amet, consectetuer</a>
	</li>
	<li>
		<a href="#n3">3 Sdipiscing elit,</a>
	</li>
	<li>
		<a href="#n4">4 sed diam nonummy nibh euismod tincidunt ut</a>
	</li>
	<li>
		<a href="#n5">5 Nec Lorem.</a>
	</li>
	<li>
		<a href="#n6">6 Et eget.</a>
	</li>
	<li>
		<a href="#n7">7 Leo orci pede.</a>
	</li>
	<li>
		<a href="#n8">8 Ratio randorus wil.</a>
	</li>
</ul>


<div id="banner" style="position:absolute !important; background-color:transparent; top:100; top: 0px; left: 50%;">
<ul style="position:absolute !important; top:100" id="portfolio">
	<li style="list-style-type:none">
		<a href="http://medienfreunde.com/deutsch/referenzen/kreation/good_guy__bad_guy.html">
			<img width="100px" src="/assets/basketball.jpg" alt="Good Guy bad Guy" />
		</a>
	</li>
	<li style="list-style-type:none">
		<a href="http://medienfreunde.com/deutsch/referenzen/kreation/whizzkids.html">
					<img width="100px" src="/assets/background.jpg" alt="Good Guy bad Guy" />

		</a>
	</li>
	<li style="list-style-type:none">
		<a href="http://medienfreunde.com/deutsch/referenzen/printdesign/koenigin_mutter.html">
						<img width="100px" src="/assets/Basketball2.jpg" alt="Good Guy bad Guy" />

		</a>
	</li>
	<li style="list-style-type:none">
		<a href="http://medienfreunde.com/deutsch/referenzen/webdesign/rt_reprotechnik_-_hybride_archivierung.html">
					<img width="100px" src="/assets/Basketball3.jpg" alt="Good Guy bad Guy" />

		</a>
	</li>
	<li style="list-style-type:none">
		<a href="http://medienfreunde.com/deutsch/referenzen/kommunikation/tuev_sued_gruppe.html">
						<img width="100px" src="/assets/Basketball4.jpg" alt="Good Guy bad Guy" />

		</a>
	</li>
</ul>
</div>	

<script type="text/javascript">
	$(document).ready(function(){
			$('#news').innerfade({
				animationtype: 'slide',
				speed: 750,
				timeout: 2000,
				type: 'random',
				containerheight: '1em'
			});

			$('#portfolio').innerfade({
				speed: 'slow',
				timeout: 4000,
				type: 'sequence',
				containerheight: '220px'
			});
        
        setTimeout(function(){ $("#banner").hide(); }, 3000);
        setTimeout(function(){ $("#banner").show(); }, 10000);
        
		}
	);
</script>