<div class="row" id="coming-lotteries">
    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row" style="margin:0px; padding:0px;">
                           <h4 id="header-loterry" style="text-align:left; color:white;">Historial de Boletos comprados</h4>
                       </div>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        
                    </div>
                </div>
</div>


<script>
       $.ajax({
  method: "GET",
           url: "/users/lotteries/"+ <%= current_user.id %>+".json",
           format: "json"
       })
        .done(function( data) {
           alert('se hizo el request');
       });
              
</script>