

<div class="row">
<div class="col-md-12">

<h1 style="font-weight:900; text-align:center; color:#2D68AC">¿Quiénes somos?</h1> <hr>

<h3 style="color: black; text-align:center; font-size: 18px;">En Don Billete somos una empresa comprometida con lo más importante, nuestros usuarios. Ofrecemos una alternativa de bajo costo para quienes buscan participar en juegos de azar y al mismo tiempo disfrutar sus deportes favoritos.</h3>



<h3 style="color: black; text-align:center;  font-size: 18px;">Venimos a ofrecerte un producto completamente innovador que actualmente es único en el mercado. Si ya estás cansado de los books deportivos de siempre y de las antiguas loterías que hoy en día son obsoletas, ¡ven con nosotros! Te aseguramos que te vas a divertir.</h3>



</div>
</div>
