<meta name="description" content="Puedes consultar las preguntas frecuentes que recibimos diariamente, si estas preguntas no resuelven tus dudas, comunicate con nosotros.">

	<div class="row" style="margin-bottom:80px !important">
	<div class="col-md-12">
	<h1 style="font-weight:900; text-align:center; color:white">FAQ</h1>
<br>
<h3 style="color: #2D68AC; font-size: 25px;">1. ¿Qué son DBs?</h3>

<h4 style="color:white">Son los créditos con los que puedes participar en nuestras loterías y recibir el rembolso de tus ganancias. 1DB equivale a $1 peso MXN. </h4>
<hr>

<h3 style="color: #2D68AC; font-size: 25px;">2. ¿Cómo realizo mis pagos para recibir DBs?</h3>

<h4 style="color:white">Contamos con la plataforma OpenPay para que todas tus transacciones sean rápidas, confiables y seguras.</h4>
<hr>

<h3 style="color: #2D68AC; font-size: 25px;">3. ¿Cómo hago para que me reembolsen mis ganancias?</h3>

<h4 style="color:white">Deberás proporcionar una cuenta de banco en la cual podamos reembolsar tus DBs. Una vez que la proporciones el reembolso se hará a través de la plataforma OpenPay.</h4>
<hr>

<h3 style="color: #2D68AC; font-size: 25px;">4. ¿Hay loterías de más deportes?</h3>

<h4 style="color:white">Por el momento solo contamos con loterías de Basketball. Deberás estar al pendiente ya que próximamente habrá más deportes y mucho más loterías.</h4>
<hr>

<h3 style="color: #2D68AC; font-size: 25px;">5. ¿Qué juegos son los que participan en las loterías?</h3>

<h4 style="color:white">Los juegos son elegidos por Don Billete. Te garantizamos que será un juego estelar del día para que disfrutes la experiencia al máximo.</h4>
<hr>

<h3 style="color: #2D68AC; font-size: 25px;">6. ¿Puedo participar en más de una lotería?</h3>

<h4 style="color:white" >¡Claro! Puedes participar más de una vez en la misma lotería y en tantas loterías distintas como desees. Recuerda que mientras más boletos adquieras más posibilidades tendrás de ganar.</h4>
<hr>


<h4 style="color: #696969; ">¿Te quedo alguna duda?Si es así no dudes en contactarnos a través del chat en línea o escríbenos un mail a soporte@donbillete.com y te responderemos en menos de 24hrs.</h4>
<br>
</div>
</div>
