


<% content_for :for_head do %>
<meta name="description" content="Conoce los términos de privacidad de Donbillete">
  <meta name="title" content="Privacidad y Seguridad | ¡Gana dinero jugando gratis!">
<% end %>

<title> Privacidad y Seguridad | ¡Gana dinero jugando gratis! </title>

<div class="row" style="margin-bottom:80px !important">
	<div class="col-md-12">


<h1 style="font-weight:900; text-align:center; color:#2D68AC">RECOLECCIÓN DE INFORMACIÓN</h1>

<h3 style="color: black;">Recolectamos la información personal de los visitantes a esta página web mediante el uso de formatos en línea o cuando nos envías un correo electrónico con tus detalles. También recolectamos la información de las transacciones realizadas incluyendo los detalles de las tarjetas de crédito que son utilizadas. La información personal que recolectamos debe incluir: nombre, dirección de email, dirección de domicilio, número telefónico, datos de tarjeta de crédito/débito, fecha de nacimiento y otra información recolectada en el momento del registro o mediante inspecciones realizadas por nosotros, o por medio de empresas contratadas por nosotros para dicho propósito.</h3>
 <hr>
		<h3 style="color: #2D68AC; font-size:20px;">Uso de la Información Personal Procesamos la información personal con los siguientes propósitos: </h3>

<h3 style="color: black;">* (a) crear y manejar la cuenta del jugador y sus registros;</h3>

<h3 style="color: black;">* (b) administrar la cuenta del jugador;</h3>

<h3 style="color: black;">* (c) proporcionar y personalizar nuestros servicios;</h3>

<h3 style="color: black;">* (d) encargarse de tus preguntas y solicitudes;</h3>

<h3 style="color: black;">* ((e) notificar acerca de nuestras actualizaciones en el software y/o servicios;</h3>

<h3 style="color: black;">* (f) asegurarnos de cumplir todas nuestras responsabilidades regulatorias verificando la precisión de cualquier información recibida;</h3>

<h3 style="color: black;">* (g) la regulación de nuestro acuerdo de conformidad, prevención de delitos y prosecución de infractores incluyendo, cuando sea apropiado, el manejo de la solicitud de información por parte de autoridades deportivas o cualquier otra entidad autorizada con el propósito de compartir información;</h3>

<h3 style="color: black;">* (h) llevar a cabo estudios para campañas de mercadeo;</h3>

<h3 style="color: black;">* (i) ofrecer a los jugadores información y soporte sobre nuestros productos y servicios;</h3>

<h3 style="color: black;">* (j) marketing de nuestros productos y servicios o aquellos ofrecidos por nuestro grupo de compañías; y</h3>

<h3 style="color: black;">* (k) mantener cualquiera de los propósitos indicados específicamente en el momento en el que nos proporciones tu información personal.</h3>

<hr>
<h3 style="color: #2D68AC; font-size:20px;">Estos son los "Propósitos" por los cuales recolectamos información personal.</h3>


		<h3 style="color: black;">Si NO deseas recibir nuestros correos, por favor envíanos un correo electrónico en blanco con la palabra "Remover" en el asunto a: soporte@donbillete.com </h3>

	<h3 style="color: black;">Divulgación de Información Personal Por los Propósitos anteriormente mencionados, nosotros podremos revelar tu información personal a cualquiera de los siguientes destinatarios ("Destinatarios"): </h3>


	<h3 style="color: black;">* (i)cualquier compañía dentro de nuestro grupo y a los empleados dentro de estas que deban conocer dicha información; </h3>

	<h3 style="color: black;">* (ii) cualquier tercera persona que ofrezca servicios a nosotros con el fin de permitirnos proporcionarte nuestros servicios de apuestas, incluyendo, por ejemplo, procesamiento de pagos y verificación de datos; </h3>

	<h3 style="color: black;">* (iii) cualquier tercera persona que nos proporciones servicios relacionados con la operación de Don Billete; </h3>

	<h3 style="color: black;">* (iv) cualquier auditor, contratista u otra clase de consejero que se encuentre realizando alguna auditoría a cualquiera de nuestros procesos de negocio, o que tenga la necesidad de acceder a dicha información con el propósito de asesorarnos; </h3>

	<h3 style="color: black;">* (v) cualquier cuerpo regulatorio, deportivo o entidad autorizada por cualquier requerimiento razonable para acceder a dicha información personal; y </h3>

	<h3 style="color: black;">* (vi) cualquier comprador potencial de la empresa Don Billete o cualquier inversionista o compañía dentro del grupo. </h3>


	</div>
</div>
