<h1>Términos y Condiciones</h1>
<h4>IMPORTANTE: Cualquier referencia de dinero en este documento no son aplicables en los países y territorios en donde las apuestas en línea son ilegales y deberán de ser ignoradas por usuarios en estos territorios.</h4>  

<h1>1. Definiciones </h1>

<h2>The following terms used herein, shall have the following meanings:</h2>

Cuenta: Una cuenta registrada en el sitio detallado en la sección 4 del presente documento. 
Usuario: Significa cualquier persona que haya abierto una cuenta como se detalla en la sección 6 del presente documento. 
Don Billete: Significa la empresa Don Billete SA de CV, incorporada con todos los requerimientos legales bajo las leyes de México. 
Billetes: Significa cualquier billete que los usuarios compren para participar en las loterías del sitio. 
Servicio Cualquiera de los productos que se ofrezcan en el sitio. 
Sitio: Significa el dominio “www.DonBillete.com”. 
Lotería: Sorteos dependientes de los resultados de uno o más juegos de la NBA (National Basketball Association) y definidos por Don Billete. 

2. Quienes somos.
Betink, SA de CV. (“Don Billete”) es una compañía registrada de manera legal bajo las leyes de México con el número: 

3. Aplicabilidad de este documento
 Cualquier usuario que utilice el sitio o cualquier de sus hipervínculos se considera ligado a estos Términos y Condiciones. 

4. Registro y uso de las cuentas
Para poder abrir una cuenta en Donbillete.com el usuario debe de llenar correctamente la forma de nuevo usuario y leer y aceptar estos términos y condiciones.

Don Billete puede sin tener que dar una explicación eliminar o remover cualquier cuenta del sitio. 
Durante el registro el usuario necesita elegir su nombre de usuario y su contraseña. La contraseña puede ser cambiada en cualquier momento. Para cualquier pregunta los usuarios pueden mandar un correo a soporte@donbillete.com
Al abrir una cuenta el usuario garantiza que: 

	Tiene 18 años de edad y tiene las competencias legales para participar en juego de azar. 

	Está de acuerdo en proveer sus datos personales correctos, incluyendo teléfono, nombre, y fecha de nacimiento. 

	Está de acuerdo en que su información es correcta. 

	Está actuando de manera personal y no a través o en representación de un tercero. 

	No está en bancarrota o en problemas crediticios. 
 
5. Loterías
Las siguientes reglas aplican a todas las loterías provistas por Don Billete en el sitio: 
- Las Loterías son generadas por el sitio y estarán disponibles para que los usuarios puedan participar en ellas. 
- Los usuarios pueden comprar a través de puntos tantos billetes como deseen para participar en las distintas loterías ofrecidas en el sitio. 
- Las loterías dependen de uno o más juegos de la NBA (National Basketball Association) y del resultado de dichos juegos. Estos juegos serán seleccionados por Don Billete y serán definitivos una vez que se publiquen en el sitio. 
- El número ganador dependerá del último dígito de cada equipo de los juegos seleccionados
Ejemplo: 
Juego 1 - Equipo A 121 vs Equipo B 96. El número ganador en este caso es el 16. 
Esta mecánica puede aplicarse con tantos juegos como  Don Billete lo decida. 

- Los premios  serán otorgados a los participantes que hayan adquirido el ticket con el número ganador. El premio consiste en el 80% del total acumulado por los participantes de la lotería. El otro 40% pertenece a Don Billete como una cuto de administración. 
- Si ningún usuario resulta ganador el 80% de la lotería se acumulará para la próxima lotería con la misma cuota de entrada. 
- El premio será dividido en partes iguales en caso de que exista más de un ganador. 
- Don Billete se reserve el derecho de cancelar cualquier apuesta previa a que inicie el juego sin tener que dar explicaciones. 
- Los saldos de los usuarios de Don Billete se manejarán con puntos que deberán ser adquiridos en el sitio. 
- Los cargos a los usuarios al hacer transacciones dentro del sitio se manejarán a través de puntos adquiridos en el sitio. 
- Los pagos a los ganadores que adquirieron sus billetes con tarjetas de crédito no podrán realizarse con OpenPay
- OpenPay cobrará un monto de $2.5 MXN por cada transacción realizada por los usuarios. 


6. SERVICIO.
Don Billete no es responsable bajo ninguna circunstancia a problemas relacionados a la conexión del usuario. 
A pesar de los esfuerzos de Don Billete por prestar un servicio de calidad y seguridad, Don Billete no puede asegurar a los usuarios que el servicio será ininterrumpido y sin errores. 

7. RESPONSABILIDAD LIMITADA
Don Billete no acepta ninguna responsabilidad por cualquier daño o pérdida que puedan tener los usuarios en relación al sitio. (Incluyendo interrupción del servicio, pérdida de datos) 
El sitio puede contener errores tipográficos, o inconsistencias así como información fuera de fecha y sin actualizar. Don Billete no se encuentra bajo ninguna obligación de actualizar dicho material. 
Don Billete no se responsabiliza por: 
(a) Pérdida de ganancias 
(b) pérdida de negocio;
(c) pérdida de oportunidad;
(d) pérdida de datos
(e) lesiones o muerte
(f) pérdida de la buena reputación
(g) cualquier clase de pérdida no mencionada en este documento. 


