/* line 3, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn {
  border-radius: 3px;
}

/* line 7, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.float-e-margins .btn {
  margin-bottom: 5px;
}

/* line 11, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-w-m {
  min-width: 120px;
}

/* line 15, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-primary.btn-outline {
  color: #e4007d;
}

/* line 19, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-success.btn-outline {
  color: #1c84c6;
}

/* line 23, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-info.btn-outline {
  color: #23c6c8;
}

/* line 27, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-warning.btn-outline {
  color: #f8ac59;
}

/* line 31, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-danger.btn-outline {
  color: #ed5565;
}

/* line 39, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

/* line 43, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-primary {
  background-color: #e4007d;
  border-color: #e4007d;
  color: white;
}

/* line 49, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #d50075;
  border-color: #d50075;
  color: white;
}

/* line 55, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none;
}

/* line 59, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #f80088;
  border-color: #f80088;
}

/* line 64, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-success {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: white;
}

/* line 70, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: white;
}

/* line 76, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-image: none;
}

/* line 80, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #1f90d8;
  border-color: #1f90d8;
}

/* line 85, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-info {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: white;
}

/* line 91, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: white;
}

/* line 97, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-image: none;
}

/* line 101, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #26d7d9;
  border-color: #26d7d9;
}

/* line 106, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-default {
  background-color: #727272;
  border-color: #222222;
  color: white;
}

/* line 112, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #4d4d4d;
  border-color: #222222;
  color: white;
}

/* line 118, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none;
}

/* line 122, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #4d4d4d;
  border-color: #222222;
}

/* line 127, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: white;
}

/* line 133, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #f7a54a;
  border-color: #f7a54a;
  color: white;
}

/* line 139, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-image: none;
}

/* line 143, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #f9b66d;
  border-color: #f9b66d;
}

/* line 148, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: white;
}

/* line 154, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #ec4758;
  border-color: #ec4758;
  color: white;
}

/* line 160, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-image: none;
}

/* line 164, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #ef6776;
  border-color: #ef6776;
}

/* line 169, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-link {
  color: inherit;
}

/* line 173, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
  color: #e4007d;
  text-decoration: none;
}

/* line 178, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
  background-image: none;
}

/* line 182, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-link.disabled, .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active, .btn-link[disabled], .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled]:active, .btn-link.active[disabled], fieldset[disabled] .btn-link, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link.active {
  color: #cacaca;
}

/* line 186, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}

/* line 192, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
  color: inherit;
  border: 1px solid #d2d2d2;
}

/* line 197, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-white:active, .btn-white.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

/* line 201, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
  background-image: none;
}

/* line 205, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-white.disabled, .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled], .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white.active[disabled], fieldset[disabled] .btn-white, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
  color: #cacaca;
}

/* line 209, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
  box-shadow: none;
}

/* line 213, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all 0.5s;
}

/* line 219, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-rounded {
  border-radius: 50px;
}

/* line 223, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
.btn-large-dim {
  width: 90px;
  height: 90px;
  font-size: 42px;
}

/* line 229, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.dim {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}

/* line 244, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.dim:active {
  top: 3px;
}

/* line 248, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-primary.dim {
  box-shadow: inset 0px 0px 0px #c5006c, 0px 5px 0px 0px #c5006c, 0px 10px 5px #999999;
}

/* line 252, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-primary.dim:active {
  box-shadow: inset 0px 0px 0px #c5006c, 0px 2px 0px 0px #c5006c, 0px 5px 3px #999999;
}

/* line 256, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-default.dim {
  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #999999;
}

/* line 260, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-default.dim:active {
  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 2px 0px 0px #b3b3b3, 0px 5px 3px #999999;
}

/* line 264, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-warning.dim {
  box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
}

/* line 268, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-warning.dim:active {
  box-shadow: inset 0px 0px 0px #f79d3c, 0px 2px 0px 0px #f79d3c, 0px 5px 3px #999999;
}

/* line 272, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-info.dim {
  box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
}

/* line 276, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-info.dim:active {
  box-shadow: inset 0px 0px 0px #1eacae, 0px 2px 0px 0px #1eacae, 0px 5px 3px #999999;
}

/* line 280, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-success.dim {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
}

/* line 284, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-success.dim:active {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 2px 0px 0px #1872ab, 0px 5px 3px #999999;
}

/* line 288, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-danger.dim {
  box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;
}

/* line 292, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.btn-danger.dim:active {
  box-shadow: inset 0px 0px 0px #ea394c, 0px 2px 0px 0px #ea394c, 0px 5px 3px #999999;
}

/* line 296, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: white;
  display: block;
  padding-top: 10px;
}

/* line 305, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/buttons.scss */
button.dim:active:before {
  top: 7px;
  font-size: 50px;
}
