/*
 * metismenu - v2.0.2
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumus
 * Under MIT License
 */
/* line 11, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .plus-minus, .metismenu .plus-times {
  float: right;
}

/* line 15, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

/* line 20, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .glyphicon.arrow:before {
  content: "\e079";
}

/* line 24, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

/* line 28, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .fa.arrow:before {
  content: "\f104";
}

/* line 32, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}

/* line 36, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .ion.arrow:before {
  content: "\f3d2";
}

/* line 40, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}

/* line 44, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .fa.plus-minus:before, .metismenu .fa.plus-times:before {
  content: "\f067";
}

/* line 48, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 54, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}

/* line 58, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .collapse {
  display: none;
}

/* line 62, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .collapse.in {
  display: block;
}

/* line 66, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/metismenu.scss */
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
}
