/*
 *   SKIN 1 - INSPINIA - Responsive Admin Theme
 *   NAME - Blue light
 */
/* line 14, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 18, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 22, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 26, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .spin-icon {
  background: #0e9aef !important;
}

/* line 30, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  background: #0e9aef;
  background: url("patterns/header-profile-skin-1.png");
}

/* line 35, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1.mini-navbar .nav-second-level {
  background: #3e495f;
}

/* line 39, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .breadcrumb {
  background: transparent;
}

/* line 43, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .page-heading {
  border: none;
}

/* line 47, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  background: #3a4459;
}

/* line 51, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li > a {
  color: #9ea6b9;
}

/* line 55, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active > a {
  color: white;
}

/* line 59, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-minimalize {
  background: #0e9aef;
  border-color: #0e9aef;
}

/* line 64, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
body.skin-1 {
  background: #3e495f;
}

/* line 68, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-static-top {
  background: white;
}

/* line 72, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 79, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-1 .navbar-fixed-top {
  background: white;
}

/* line 83, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .wrapper-content {
  padding: 30px 15px;
}

/* line 87, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 #page-wrapper {
  background: #f4f6fa;
}

/* line 91, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-title, .skin-1 .ibox-content {
  border-width: 1px;
}

/* line 95, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 99, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  border: none;
}

/* line 103, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 107, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle {
  color: white;
  margin-top: 10px;
}

/* line 112, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle .text-muted {
  color: white;
  opacity: 0.8;
}

/* line 117, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .profile-element {
  text-align: center;
}

/* line 121, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .img-circle {
  border-radius: 5px;
}

/* line 125, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-default .nav > li > a:hover, .skin-1 .navbar-default .nav > li > a:focus {
  background: #3a4459;
  color: white;
}

/* line 130, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 133, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *   SKIN 2 - INSPINIA - Responsive Admin Theme
 *   NAME - Inspinia Ultra
 */
/* line 149, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
body.skin-2 {
  color: #565758 !important;
}

/* line 153, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .minimalize-styl-2 {
  margin: 14px 5px 5px 25px;
}

/* line 157, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-top-links li:last-child {
  margin-right: 25px;
}

/* line 161, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .spin-icon {
  background: #23c6c8 !important;
}

/* line 165, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  background: #23c6c8;
  background: url("patterns/header-profile-skin-2.png");
}

/* line 170, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-second-level {
  background: #ededed;
}

/* line 174, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .breadcrumb {
  background: transparent;
}

/* line 178, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 182, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .page-heading {
  border: none;
  background: rgba(255, 255, 255, 0.7);
}

/* line 187, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  background: #e0e0e0;
}

/* line 191, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .logo-element {
  padding: 17px 0;
}

/* line 195, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li > a, .skin-2 .welcome-message {
  color: #edf6ff;
}

/* line 199, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search::-moz-placeholder {
  color: #edf6ff;
  opacity: 0.5;
}

/* line 204, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 #side-menu > li > a, .skin-2 .nav.nav-second-level > li > a {
  color: #586b7d;
}

/* line 208, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active > a {
  color: #213a53;
}

/* line 212, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-header {
  background: #213a53;
}

/* line 216, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-minimalize {
  background: #23c6c8;
  border-color: #23c6c8;
}

/* line 221, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .border-bottom {
  border-bottom: none !important;
}

/* line 225, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search {
  color: white;
}

/* line 229, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
body.skin-2 #wrapper {
  background-color: #ededed;
}

/* line 233, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-static-top {
  background: #213a53;
}

/* line 237, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-2 .navbar-fixed-top {
  background: #213a53;
  border-bottom: none !important;
}

/* line 242, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  padding: 30px 25px 30px 25px;
}

/* line 246, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashboard-header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 20px 30px;
}

/* line 253, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .wrapper-content {
  padding: 30px 15px;
}

/* line 257, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashoard-1 .wrapper-content {
  padding: 0px 30px 25px 30px;
}

/* line 261, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  margin-bottom: 1px;
}

/* line 267, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
}

/* line 272, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 #page-wrapper {
  background: #f6f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -o-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: radial-gradient(ellipse at center, #f6f6f6 20%, #d5d5d5 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#d5d5d5)";
}

/* line 281, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title, .skin-2 .ibox-content {
  border-width: 1px;
}

/* line 285, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 289, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  border: none;
}

/* line 293, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle {
  color: #edf6ff;
  margin-top: 10px;
}

/* line 298, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle .text-muted {
  color: #edf6ff;
  opacity: 0.8;
}

/* line 303, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .img-circle {
  border-radius: 10px;
}

/* line 307, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.navbar-top-links > li > a:hover, .skin-2 .nav.navbar-top-links > li > a:focus {
  background: #1a2d41;
}

/* line 311, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-default .nav > li > a:hover, .skin-2 .navbar-default .nav > li > a:focus {
  background: #e0e0e0;
  color: #213a53;
}

/* line 316, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 319, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *   SKIN 3 - INSPINIA - Responsive Admin Theme
 *   NAME - Yellow/purple
 */
/* line 335, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 339, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 343, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 347, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .spin-icon {
  background: #ecba52 !important;
}

/* line 351, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
body.boxed-layout.skin-3 #wrapper {
  background: #3e2c42;
}

/* line 355, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  background: #ecba52;
  background: url("patterns/header-profile-skin-3.png");
}

/* line 360, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3.mini-navbar .nav-second-level {
  background: #3e2c42;
}

/* line 364, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .breadcrumb {
  background: transparent;
}

/* line 368, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .page-heading {
  border: none;
}

/* line 372, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  background: #38283c;
}

/* line 376, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-3 .navbar-fixed-top {
  background: white;
}

/* line 380, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li > a {
  color: #948b96;
}

/* line 384, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active > a {
  color: white;
}

/* line 388, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-minimalize {
  background: #ecba52;
  border-color: #ecba52;
}

/* line 393, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
body.skin-3 {
  background: #3e2c42;
}

/* line 397, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-static-top {
  background: white;
}

/* line 401, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 408, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .wrapper-content {
  padding: 30px 15px;
}

/* line 412, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 #page-wrapper {
  background: #f4f6fa;
}

/* line 416, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-title, .skin-3 .ibox-content {
  border-width: 1px;
}

/* line 420, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 424, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  border: none;
}

/* line 428, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 432, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle {
  color: white;
  margin-top: 10px;
}

/* line 437, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle .text-muted {
  color: white;
  opacity: 0.8;
}

/* line 442, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .profile-element {
  text-align: center;
}

/* line 446, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .img-circle {
  border-radius: 5px;
}

/* line 450, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-default .nav > li > a:hover, .skin-3 .navbar-default .nav > li > a:focus {
  background: #38283c;
  color: white;
}

/* line 456, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 459, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active {
  background: transparent;
}
