/* line 2, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation #page-wrapper {
  margin-left: 0;
}

/* line 7, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-nav .dropdown-menu > .active > a {
  background: #1ab394;
  color: white;
  font-weight: bold;
}

/* line 13, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.white-bg .navbar-fixed-top, .white-bg .navbar-static-top {
  background: #233645;
}

/* line 17, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar {
  margin-bottom: 0;
}

/* line 21, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .nav > li > a {
  padding: 15px 20px;
  color: white;
}

/* line 26, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus {
  background: #1ab394;
  color: #233645;
}

/* line 31, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .nav > li.active {
  background: #fff;
  border: none;
}

/* line 35, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .nav > li.active > a {
  color: #233645;
}

/* line 38, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-right {
  margin-right: 10px;
}

/* line 42, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-nav .dropdown-menu {
  box-shadow: none;
  border: 1px solid #e7eaec;
}

/* line 47, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .dropdown-menu > li > a {
  margin: 0;
  padding: 7px 20px;
}

/* line 52, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.navbar .dropdown-menu {
  margin-top: 0px;
}

/* line 56, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-brand {
  background: white;
  color: #fff;
  padding: 7px 18px;
}

/* line 62, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-top-links li:last-child {
  margin-right: 0;
}

/* line 70, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation.mini-navbar #page-wrapper,
.top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper,
.mini-navbar .top-navigation #page-wrapper,
.body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper,
.canvas-menu #page-wrapper {
  margin: 0;
}

/* line 74, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation.fixed-nav #wrapper, .fixed-nav #wrapper.top-navigation {
  margin-top: 14px;
}

/* line 78, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .footer.fixed {
  margin-left: 0 !important;
}

/* line 82, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .wrapper.wrapper-content {
  padding: 40px;
}

/* line 85, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation.body-small .wrapper.wrapper-content, .body-small .top-navigation .wrapper.wrapper-content {
  padding: 40px 0px 40px 0px;
}

/* line 89, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.navbar-toggle {
  background-color: #e4007d;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}

/* line 96, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.top-navigation .navbar-nav .open .dropdown-menu > li > a, .top-navigation .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 10px 15px 10px 20px;
}

@media (max-width: 768px) {
  /* line 101, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
  .top-navigation .navbar-header {
    display: block;
    float: none;
  }
}
/* line 107, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
.menu-visible-lg, .menu-visible-md {
  display: none !important;
}

@media (min-width: 1200px) {
  /* line 112, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-lg {
    display: block !important;
  }
}
@media (min-width: 992px) {
  /* line 117, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-md {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 123, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-md {
    display: block !important;
  }

  /* line 126, C:/Users/alfre/documents/github/lottery_game/app/assets/stylesheets/base/top_navigation.scss */
  .menu-visible-lg {
    display: block !important;
  }
}
