<div class="row" style="padding: 50px;">
    <br>
<div class="col-md-12 col-xs-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" id="nav-categories">
                        
                        </ul>
                        <div class="tab-content" id="tab-contents">
                           
                        </div>
                    </div>
                </div>
</div>

<script>
       $.ajax({
  method: "GET",
  url: "/categories.json",
  format: "json"
})
  .done(function( data) {
           for(var i in data){
                    if(data[i].id < 10){
                           var url = "/system/categories/logos/000/000/00"+ data[i].id+"/original/"+data[i].logo_file_name+"" ;
                       }else{
                            var url = "/system/categories/logos/000/000/0"+ data[i].id+"/original/"+data[i].logo_file_name+"";
                       }
               
               if(i == 1){
                 $('#nav-categories').append('<li class="active"><a data-toggle="tab" href="#category-'+data[i].id+'"> <img width="40px" src="'+url+'"> '+data[i].name+' </a></li>');
                   
                $('#tab-contents').append('<div id="category-'+data[i].id+'" class="tab-pane"> <div class="ibox-content inspinia-timeline" id="future_lotteries-'+data[i].id+'"></div></div></div>'  );   
                   
               }else{
                   $('#nav-categories').append('<li><a data-toggle="tab" href="#category-'+data[i].id+'"> <img width="40px" src="'+url+'"> '+data[i].name+' </a></li>');
                   
                     $('#tab-contents').append('<div id="category-'+data[i].id+'" class="tab-pane active"><div class="ibox-content inspinia-timeline" id="future_lotteries-'+data[i].id+'"></div></div>'  );   
               }
        
           }
          
       });
    
    
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
     $.ajax({
            method: "GET",
            url: "/games/future_games",
            format: "json"
               }).done(function(data) {
                   for(var i in data.games){
                       
                         if (data.games[i].team.id < 10){
         var image_url = '/system/teams/logos/000/000/00'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
    }   else{
    var image_url = '/system/teams/logos/000/000/0'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
    }  
                           if (data.games[i].team2.id < 10){
         var image_url2 = '/system/teams/logos/000/000/00'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
    }   else{
    var image_url2 = '/system/teams/logos/000/000/0'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
    }  

 
                       if(data.games[i].category.id < 10){
                           var url = "/system/categories/logos/000/000/00"+ data.games[i].category.id+"/original/"+data.games[i].category.logo_file_name+"" ;
                       }else{
                            var url = "/system/categories/logos/000/000/0"+ data.games[i].category.id+"/original/"+data.games[i].category.logo_file_name+"";
                       }
                       
                       
                       
                       
                       
                       
                       $("#future_lotteries-"+data.games[i].category.id+"").append('<div class="timeline-item"><div class="row"><div style="width:20%; padding-top:5px" class="col-xs-4 col-md-4 date"><img  class="category_logo" src=" '+url+' " ><span style="font-weight: 900;">'+moment(data.games[i].game_date ,"", "es" ).format("MMMM D YYYY, h:mm:ss a")+'</span></div><div class="col-xs-9 col-md-9 content no-top-border"><a data-lotteryid="'+data.games[i].lotteries[0].id+'" data-lotteryprice="'+data.games[i].lotteries[0].price+'" data-lotteryfinal="'+data.games[i].lotteries[0].final_number+'" data-lotteryrules="'+data.games[i].lotteries[0].rules+'" data-teamname="'+data.games[i].team.name+'" data-team2name="'+data.games[i].team2.name+'"  class="display_modal"><h3 style="text-align:center"> '+ data.games[i].team.name + ' VS ' + data.games[i].team2.name + ' </h3><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"><img height="180px" class="logo_lotteries" src="'+image_url+'"> </h4></div><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"> <img height="180px" class="logo_lotteries"  src="'+image_url2+'"> </h4> </div></a></div></div></div> <hr>');
                       
                          $('.display_modal').click(function(){
                              $('#lottery_number_in_modal').unmask();
                              $('#lottery_number_in_modal').val('');
                              $('.ticket_number').unmask();
                              $('#lottery_id_modal').val($(this).data("lotteryid"));
                              $('#rules_modal').text($(this).data("lotteryrules"));
                              $('#total_price_modal').text($(this).data("lotteryprice"));
                              $("#ticket_name_modal").text($(this).data("teamname") + " Vs " + $(this).data("team2name"));
                              $('#buy_ticket_modal').modal('show');
                              $('#lottery_number_in_modal').attr('max',$(this).data("lotteryfinal"));
                                if($(this).data("lotteryfinal") < 100){
                                    $('#lottery_number_in_modal').mask('00', {placeholder: "00", reverse: false});
                                         ticket_length_modal = 2;
                                     } else if($(this).data("lotteryfinal") < 1000){
                                         $('#lottery_number_in_modal').mask('000', {placeholder: "000", reverse: false});
                                          ticket_length_modal = 3;
                                     } else {
                                          $('#lottery_number_in_modal').mask('0000', {placeholder: "0000", reverse: false});
                                          ticket_length_modal = 4;
                                }
                              
                              $("#lottery_number_in_modal").change(function(){
                              $("#ticket_numer_lottery_modal").text($('#lottery_number_in_modal').val());
                              });
                             
                          })
                       
                   }      
               });
    
</script>

