<div class="row">
    <br>
<div class="col-md-12 col-xs-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" id="nav-categories">
                            <li class="active"><a data-toggle="tab" href="#tab-3"> <i class="fa fa-laptop"></i></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-3" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                                        existence in this spot, which was created for the bliss of souls like mine.</p>

                                    <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                                        the present moment; and yet I feel that I never was a greater artist than now. When.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

<script>
       $.ajax({
  method: "GET",
  url: "/categories.json",
  format: "json"
})
  .done(function( data) {
           for(var i in data){
                    if(data[i].id < 10){
                           var url = "/system/categories/logos/000/000/00"+ data[i].id+"/original/"+data[i].logo_file_name+"" ;
                       }else{
                            var url = "/system/categories/logos/000/000/0"+ data[i].id+"/original/"+data.[i].logo_file_name+"";
                       }
               
               if(i == 0){
                 $('#nav-categories').append('<li class="active"><a data-toggle="tab" href="#category-'+data[i].id+'"> <img src="'+url+'"> </a></li>');
                   
               }else{
                   $('#nav-categories').append('<li><a data-toggle="tab" href="#category-'+data[i].id+'"> <img src="'+url+'"> </a></li>');
               }
        
           }
          
       });
    
</script>