<div class="col-md-12 col-xs-12">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t('today_games') %></h3>
        </div>
      </div>
      <div class="panel-body">
              
      <!-- end panel-body -->
    </div>
</div>
    
<script>
          $.ajax({
                      method: "GETT",
                      url: "/games/today_games.json",
                      dataType: "json"  
                    }).done(function( data) {
                         alert('Se cargaroj los juegos del dia');
                     });
      
 </script>    