<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      
      <style>
    h1{font-size:40px; text-align:center;}
    h2, h3, h4, h5{text-align:center;}
    .welcome{color:white;}
    .panel-header{background-color:#E4007D;}      
          
</style>
  </head>
  <body>
      <div class="panel">
        <div class="panel-header"></div>
       <h1 class="welcome">Gracias por participar con nosotros en esta loteria.</h1>
       <h2 class="welcome">Te deseamos la mejor de la suerte.Aqui los detalles de tu compra</h2>      
      </div>
      <div class="panel-body">
      
      </div>
       
    
 
   
      
      <p>Gracias por tu compra, <span style="text-transform:uppercase"><%= @user.name %></span></p>
      <p>Compraste el numero   <span> <%= @user_lottery.ticket_number %> </span> </p>
      <p>Para el partido   <span> <%= @lottery.game.team.name + ' vs ' + @lottery.game.team2.name %>   </span> </p>
      <p>Te deseamos Mucha suerte</p>
  </body>
</html>