<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>Gracias por participar con nosotros en esta loteria, el dia que termine la loteria recibiras unas notificacion con el numero que resulto ganador.</h1>
      <hr>
      
      <p>Gracias por tu compra, <span style="text-transform:uppercase"><%= @user.name %></span></p>
      <p>Te deseamos Mucha suerte</p>
  </body>
</html>