<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      
      <style>
    h1{font-size:40px; text-align:center;}
    h2, h3, h4, h5{text-align:center;}
    h4{font-size:20px}
    h5{font-size:16px}   
    body{background-color:#b7b7b7; border:10px solid black;}      
    .welcome{color:white;}
    .panel-header{width:100%;}    
    .panel{width:100%;}      
    .row {width:100%; display:block;}   
    .col-md-4 {width:33.33%; float: left; display:table-cell;}      
    .col-md-12{width:100%;}      
    .col-md-6{width:50%;}     
    #ticket_name_modal{margin-left:20%;}   
    .margin-center{padding-left:25%}   
    .panel-footer{ width:100%;}
</style>
      
  </head>
  <body>
      <div class="panel">
        <div class="panel-header">
            <img width="100%" src="https://donbillete.com/assets/logo_donbillete.png">
            <h2 class="welcome">Gracias por registrate con nosotros <%= @user.name %></h2>
          </div>
      
      </div>
      <div class="panel-body">
          <h4>Usuario: <%= @user.name + " " + @user.last_name %></h4>
          <h4>Contraseña: <%= @user.password %></h4>
          <h4>Email: <%= @user.email %> </h4>
          <br>
      </div>
    <div class="panel-footer">
        <h4 style="color:white;">Participa en nuestras loterias en el deporte que sea de tu agrado.</h4>
        <h4 style="color:white"> Te deseamos la mejor de la suerte </h4>
       <h4 style="text-align:center;"> <a style="text-align:center; color:black; font-weight:900; font-size:25px;" href="http://donbillete.com">Verifica tu cuenta con nosotros</a></h4> <br>
      </div>
  </body>
</html>


