<style>
    h1{
        font-size:40px;
        text-align:center;
    }
    h2, h3, h4, h5{
        text-align:center;
    }
</style>


<h1>!Felicidades!</h1>
<h2>Gracias por participar en la loteria  <%= @lottery_name %></h2>

<h1>Nos alegra decirte que fuiste seleccionado Ganador:</h1>
<h1>Con el boleto numero: <%= @winner_number %></h1>
<h2>Felicidades esperamos que sigas participando con nosotros.</h2>
<h2>Entra a tu perfil para ver tu Saldo actual</h2>
<h2>Saluods y Sigue participante</h2>
<h2>Atentamente: DonBillete</h2>