
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      
      <style>
    h1{font-size:40px; text-align:center;}
    h2, h3, h4, h5{text-align:center;}
    h4{font-size:20px}
    h5{font-size:16px}      
    .welcome{color:white;}
    .panel-header{background-color:#E4007D; width:100%;}    
    .panel{width:100%;}      
    .row {width:100%; display:block;}   
    .col-md-4 {width:33.33%; float: left; display:table-cell;}      
    .col-md-12{width:100%;}      
    .col-md-6{width:50%;}     
    #ticket_name_modal{margin-left:20%;}   
    .margin-center{padding-left:25%}   
    .panel-footer{background-color:#727272; width:100%;}
</style>
      
  </head>
  <body>
      <div class="panel">
        <div class="panel-header">
            <h1 class="welcome">DonBillete</h1>
            <h2 class="welcome">Muchas Felicidades <%= @user.username %></h2>
          </div>
      
      </div>
      <div class="panel-body">
         <h1>!Felicidades!</h1>
<h2>Gracias por participar en la loteria  <%= @lottery_name %></h2>
<h1>Nos alegra decirte que fuiste seleccionado Ganador:</h1>
<h1>Con el boleto numero: <%= @winner_number %></h1>
<h2>Felicidades esperamos que sigas participando con nosotros.</h2>
<h2>Entra a tu perfil para ver tu Saldo actual</h2>
<h2>Saluods y Sigue participante</h2>
<h2>Atentamente: DonBillete</h2>
<br>
      </div>
    <div class="panel-footer">
        <h4 style="color:white;">Sigue participando con nostros en Donbillete.</h4>
        <h4 style="color:white"> Te deseamos la mejor de la suerte </h4>
        <a style="text-align:center; color:#2EFF9F; padding-left:33%; font-size:25px;" href="http://donbillete.com">Accede a Donbillete</a> <br>
      </div>
  </body>
</html>