<style>
    h1{
        font-size:40px;
        text-align:center;
    }
</style>


<h1>!Hola!</h1>
<h2>Gracias por participar en la loteria  <%= @lottery_name %></h2>
<h3>La loteria se a cerrado con exito, te deseamos la mayor de la suerte</h3>
<h1>El numero ganador fue:</h1>
<h1>El boleto con el numero: <%= @winner_number %></h1>
<h2>Si tu eres el dueño de este numero deberas recibir otro correo con la felicitación correspondiente.</h2>
<h2>Si tu numero no fue el ganador sigue participando en nuestras loterias.</h2>
<h2>Saluods y Sigue participante</h2>
<h2>Atentamente: DonBillete</h2>