
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      
      <style>
    h1{font-size:40px; text-align:center;}
    h2, h3, h4, h5{text-align:center;}
    h4{font-size:20px}
    h5{font-size:16px}      
    .welcome{color:white;}
    .panel-header{ width:100%;}    
    .panel{width:100%;}      
    .row {width:100%; display:block;}   
    .col-md-4 {width:33.33%; float: left; display:table-cell;}      
    .col-md-12{width:100%;}      
    .col-md-6{width:50%;}     
    #ticket_name_modal{margin-left:20%;}   
    .margin-center{padding-left:25%}   
    .panel-footer{ width:100%;}
</style>
      
  </head>
  <body>
      <div class="panel">
        <div class="panel-header">
              <h4 style="text-align:center"> <img width="80%" src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xlp1/v/t1.0-9/12938199_117866865279976_3191603506313976256_n.jpg?_nc_eui=ARiSGYX4nUDsUWOIv5qiqVZjDWgustApjTnJtbkle2Yl4f_34ML18w&oh=b08490ebce294e1f7545c822307c72b6&oe=578C4109"></h4>
            <h2 class="welcome">Muchas Felicidades Tu billete resulto ganador</h2>
          </div>
      
      </div>
      <div class="panel-body">
         <h1>!Felicidades!</h1>
<h2>Gracias por participar en la loteria  <%= @lottery_name %></h2>
<h1>Nos alegra decirte que fuiste seleccionado Ganador:</h1>
<h1>Con el boleto numero: <%= @winner_number %></h1>
          <% if @num_winners != 1 %>
<h2>Lamentablemente no fuiste el unico que selecciono este numero, por lo tanto el total de la bolsa se divira entre <%= @num_winners%> participantes que seleccionaron el mismo numero:</h2>
          <% end %>
<h1>El monto total ganado es de: $<%= @total_update %> USD</h1>          
<h2>Felicidades esperamos que sigas participando con nosotros.</h2>
<h2>Entra a tu perfil para ver tu Saldo actual</h2>
<h2>Atentamente: DonBillete</h2>
<br>
      </div>
    <div class="panel-footer">
        <h4 style="color:white;">Sigue participando con nostros en Donbillete.</h4>
        <h4 style="color:white"> Te deseamos la mejor de la suerte </h4>
       <h4 style="text-align:center"> <a style="text-align:center; color:#2EFF9F; padding-left:38%; font-size:25px;" href="http://donbillete.com"> </h4>Accede a Donbillete</a> <br>
         <h4>Siguenos en:  <a href="https://www.facebook.com/profile.php?id=100011699889308"><img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/12924533_216008632102697_6569374066802473538_n.png?_nc_eui=ARgvbFZs7y5Iq1FvtrgQEHdq7cJHQzYWWFh4NMDHrdGToc9H2j1tGA&oh=a06d9609adcc4ecce4132ce1e2be38c4&oe=578D01AA" width="50px"></a> <a href="https://twitter.com/7DONBILLETE"><img width="50px" src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12417900_216008615436032_1537948209837185904_n.png?_nc_eui=ARiUxbBXmdA8nCxKnkE9LGmNrwbzAfGT6byEr7pgq-PdgCBFNW5iEw&oh=a38990118122134469933f22d8d6e0d2&oe=57B859C9"></a>  </h4>
      </div>
  </body>
</html>