<div class="row" style="margin-top: -20px !important;">
        <div class="cycle-slideshow">
            <img width="101%" src="/assets/background1.png">
        </div>
</div>


<script>
      $.ajax({
            method: "GET",
            url: "/games/future_games",
            format: "json"
               }).done(function(data) {
             
      });
</script>






