@media screen 
  and (device-width: 601px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
       #user_name{
        display:-webkit-inline-box  !important;
        font-size:11px;
        margin-top:2.5%;
    }
         #alert-display-modal{
          width: 100% !important;
      }
    
    #login-container{
    border:0px solid #AB015C !important;
}
    .loginColumns{
        padding: 0px !important;
    }
    
    .hide-phone{
        display:none;
    }
    
    #myNavbar{
        width: 100% !important;
    }
    
    #menu{
        width: 100% !important;
    }
    
    #banner{
        background-size:contain !important; 
    }
    
    .confirm_buy_modal{
        width: 100% !important;
    }
    
    .hide-mobile{
        display:none;
    }
    
    .col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
   #vs{
    margin-top: 10px !important;
	   font-size:30px !important;
   }
    
    #responsive-cellphone{
        text-align:center;
    }
    
    #main-con{
        margin-top: 0% !important;
    }
    
    #user_image{
        float: none !important;
    }
    
    #current_bal{
        margin-left:3% !important;
    }
    
   
    
    .logo_lotteries{
        width: 100% !important;
    }
    
    #logo-image{
    width: 100% !important;
    }
    
    .category_logo{
        width: 40px !important;
    }
    
    .center-text{
        text-align:center;
    }
    
    #move-top{
        margin-top: 3%;
    }
    
    #buy-ticket-button{
        margin-left:25% !important;
        margin-top: 2%;
    }
    
    #header-loterry{
        text-align: center !important;
    }
      
    .sctn-row2{
         margin:70px 0px 0px 20px !important;
    }
    
    .sctn-col{
    margin-top:10px !important;      
      }
      
      .logo_lotteries1{
    width: 100% !important;
    height: auto !important;
}
      #pay-button-used{
          font-size:15px;
          margin-bottom: 5px;
      }
	  
	  .footer{
		  position:relative !important;
	  }
	  
	  #team1{
	width: 100% !important;
}

#team2{
	width: 100% !important;
}
	  
	  .margin-cellphone{
		  margin-top:5%;
	  }
	  #cards_responsive{
		  width: 100%;
	  }
	  
	  #rexponsive-text-mark{
		  margin-left:20px;
	  }
      
}





@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 #user_name{
        display:-webkit-inline-box  !important;
        font-size:11px;
        margin-top:2.5%;
    }
      
         #alert-display-modal{
          width: 100% !important;
      }
    
    #login-container{
    border:0px solid #AB015C !important;
}
    .loginColumns{
        padding: 0px !important;
    }
    
    .hide-phone{
        display:none;
    }
    
    #myNavbar{
        width: 100% !important;
    }
    
    #menu{
        width: 100% !important;
    }
    
    #banner{
        background-size:contain !important; 
    }
    
    .confirm_buy_modal{
        width: 100% !important;
    }
    
    .hide-mobile{
        display:none;
    }
    
    .col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
   #vs{
    margin-top: 10px !important;
	    font-size:30px !important;
   }
    
    #responsive-cellphone{
        text-align:center;
    }
    
    #main-con{
        margin-top: 0% !important;
    }
    
    #user_image{
        float: none !important;
    }
    
    #current_bal{
        margin-left:3% !important;
    }
    
   
    
    .logo_lotteries{
        width: 100% !important;
    }
    
    #logo-image{
    width: 100% !important;
    }
    
    .category_logo{
        width: 40px !important;
    }
    
    .center-text{
        text-align:center;
    }
    
    #move-top{
        margin-top: 3%;
    }
    
    #buy-ticket-button{
        margin-left:25% !important;
        margin-top: 2%;
    }
    
    #header-loterry{
        text-align: center !important;
    }
    .sctn-row2{
         margin:70px 0px 0px 20px !important;
    }
      
      #login_form_responsive{
          display: none;
      }  
      
       .logo_lotteries1{
    width: 100% !important;
    height: auto !important;
}
          #pay-button-used{
          font-size:15px;
          margin-bottom: 5px;
      }
	  
	   .footer{
		  position:relative !important;
	  }
	  
	    #team1{
	width: 100% !important;
}

#team2{
	width: 100% !important;
}
	    .margin-cellphone{
		  margin-top:5%;
	  }
	   #cards_responsive{
		  width: 100%;
	  }
	  
	    #rexponsive-text-mark{
		  margin-left:20px;
	  }
      
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
        #user_name{
        display:-webkit-inline-box  !important;
        font-size:11px;
        margin-top:2.5%;
    }
      
         #alert-display-modal{
          width: 100% !important;
      }
    
    #login-container{
    border:0px solid #AB015C !important;
}
    .loginColumns{
        padding: 0px !important;
    }
    
    .hide-phone{
        display:none;
    }
    
    #myNavbar{
        width: 100% !important;
    }
    
    #menu{
        width: 100% !important;
    }
    
    #banner{
        background-size:contain !important; 
    }
    
    .confirm_buy_modal{
        width: 100% !important;
    }
    
    .hide-mobile{
        display:none;
    }
    
    .col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
   #vs{
    margin-top: 10px !important;
	    font-size:30px !important;
   }
    
    #responsive-cellphone{
        text-align:center;
    }
    
    #main-con{
        margin-top: 0% !important;
    }
    
    #user_image{
        float: none !important;
    }
    
    #current_bal{
        margin-left:3% !important;
    }
    
   
    
    .logo_lotteries{
        width: 100% !important;
    }
    
    #logo-image{
    width: 100% !important;
    }
    
    .category_logo{
        width: 40px !important;
    }
    
    .center-text{
        text-align:center;
    }
    
    #move-top{
        margin-top: 3%;
    }
    
    #buy-ticket-button{
        margin-left:25% !important;
        margin-top: 2%;
    }
    
    #header-loterry{
        text-align: center !important;
    }
    
    .sctn-row2{
         margin:70px 0px 0px 20px !important;
    }
      
        #login_form_responsive{
          display:none;
      }  
      
      #login_form_responsive2{
          display:block !important;
      }
      
       #log_out_mov{
        display:block !important;
    }

       .logo_lotteries1{
    width: 100% !important;
    height: auto !important;
}
          #pay-button-used{
          font-size:15px;
          margin-bottom: 5px;
      }
	  
	   .footer{
		  position:relative !important;
	  }
	  
	    #team1{
	width: 100% !important;
}

#team2{
	width: 100% !important;
}
	  
	    .margin-cellphone{
		  margin-top:5%;
	  }
	  
	   #cards_responsive{
		  width: 100%;
	  }
	  
	    #rexponsive-text-mark{
		  margin-left:20px;
	  }
}

@media screen and (max-width: 480px) {
    
    #user_name{
        display:-webkit-inline-box  !important;
        font-size:11px;
        margin-top:2.5%;
    }
    
       #alert-display-modal{
          width: 100% !important;
      }
    
    #login-container{
    border:0px solid #AB015C !important;
}
    .loginColumns{
        padding: 0px !important;
    }
    
    .hide-phone{
        display:none;
    }
    
    #myNavbar{
        width: 100% !important;
    }
    
    #menu{
        width: 100% !important;
    }
    
    #banner{
        background-size:contain !important; 
    }
    
    .confirm_buy_modal{
        width: 100% !important;
    }
    
    .hide-mobile{
        display:none;
    }
    
    .col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
   #vs{
    margin-top: 10px !important;
	    font-size:30px !important;
   }
    
    #responsive-cellphone{
        text-align:center;
    }
    
    #main-con{
        margin-top: 0% !important;
    }
    
    #user_image{
        float: none !important;
    }
    
    #current_bal{
        margin-left:3% !important;
    }
    
   
    
    .logo_lotteries{
        width: 100% !important;
    }
    
    #logo-image{
    width: 100% !important;
    }
    
    .category_logo{
        width: 40px !important;
    }
    
    .center-text{
        text-align:center;
    }
    
    #move-top{
        margin-top: 3%;
    }
    
    #buy-ticket-button{
        margin-left:25% !important;
        margin-top: 2%;
    }
    
    #header-loterry{
        text-align: center !important;
    }
    
    .sctn-row2{
        margin:70px 0px 0px 20px !important;
    }
    
     .sctn-col{
    margin-top:20px !important;      
      }
    
      #login_form_responsive{
          display: none;
      }  
    
    #login_form_responsive2{
          display:block !important;
      }
    
    #log_out_mov{
        display:block !important;
    }
    
     .logo_lotteries1{
    width: 100% !important;
    height: auto !important;
}
        #pay-button-used{
          font-size:15px;
          margin-bottom: 5px;
      }
	 .footer{
		  position:relative !important;
	  }
	
	  #team1{
	width: 100% !important;
}

#team2{
	width: 100% !important;
}
     .margin-cellphone{
		  margin-top:5%;
	  } 
	 #cards_responsive{
		  width: 100%;
	  }
	
	  #rexponsive-text-mark{
		  margin-left:20px;
	  }
}

.row{
    padding: 5px 30px;
}

.navbar-teal {
    background-color: #E4007D;
    color:white;
}

#logo-image{
    width: 70%;
}

.text-indicators {
    font-size: 22px;
    text-align: center;
}

.navbar-teal .navbar-brand:hover,
.navbar-teal .navbar-brand:focus {
  color: #fff;
  background-color: #db0707;
}

.navbar-teal .navbar-brand {
  background: #ab005c ;
  color: #fff;
  padding: 13px 18px;

}

#current_bal{
    margin-left: 0%;
}

#myNavbar .navbar-nav li a:hover{
    background-color: #ff1e98;
    color:white;
}

#data-table thead {
    background-color:#727272;
    color:white;
}

.invoice{
    background-color: white;
}

#banner{
     background-color: white;
     background-size:cover; 
}

 .alert-success{
         background-color: #ab005c !important;
    }

.header-show{
    background-color:#ab005c;
    color:white;
    margin-top:0px;
    padding: 15px;
}

.property-show{
    background-color: #727272;
    color:white;
    padding: 15px;
}

.property-text{
    margin-left:3%; 
    margin-top:3%; 
}

.logo_lotteries{
    width: 50%;
}

.category_logo{
        width: 90px;
    }

.row{
    padding: 0px !important;
    margin: 0px !important;
}

.confirm_buy_modal{
    width: 30%;
}

#facebook{
        background-color: #3B5998;
        color: white;
        margin-bottom: 10px;
}


#twitter{
    background-color: #1da1f2;
    color: white;
    margin-bottom: 10px;
}

#login-container{
    border:1px solid #AB015C;
}

.date-date{
    text-align: right;
    width: inherit;
    position: relative;
    padding-top: 30px;
}

#adv-custom-caption{
    background-color: deeppink;
    color:white;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size:14px;
}

body{
    background-color:white !important;
}

.logo_lotteries1{
    width: 250px;
	height:250px;
}

#team1{
	width: 100%;
}

#team2{
	width: 100%;
}


.radio.radio-lg label::before{
    width: 30px;
    height: 30px;
}

.radio.radio-lg label::after{
    width: 30px;
    height: 30px;
    padding-left: 4px;
    font-size: 20px;
}