@media screen and (max-width: 480px) {
   #vs{
    margin-top: 10px !important;
   }
    
    #responsive-cellphone{
        text-align:center;
    }
    
    #main-con{
        margin-top:-21% !important;
    }
    
    #user_image{
        float: none !important;
    }
    
    #current_bal{
        margin-left:3% !important;
    }
    
    .logo_lotteries{
        width: 100% !important;
    }
    
    #logo-image{
    width: 100% !important;
    }
    
    .category_logo{
        width: 40px !important;
    }
    
    .center-text{
        text-align:center;
    }
    
    #move-top{
        margin-top: 3%;
    }
    
    #buy-ticket-button{
        margin-left:25% !important;
        margin-top: 2%;
    }
    
    #header-loterry{
        text-align: center !important;
    }
}

.row{
    padding: 5px 30px;
}

.navbar-teal {
    background-color: #E4007D;
    color:white;
}

#logo-image{
    width: 50%;
}

.text-indicators {
    font-size: 22px;
    text-align: center;
}

.navbar-teal .navbar-brand:hover,
.navbar-teal .navbar-brand:focus {
  color: #fff;
  background-color: #db0707;
}

.navbar-teal .navbar-brand {
  background: #ab005c ;
  color: #fff;
  padding: 13px 18px;

}

#current_bal{
    margin-left: 10%;
}

#myNavbar .navbar-nav li a:hover{
    background-color: #ff1e98;
    color:white;
}

#data-table thead {
    background-color:#727272;
    color:white;
}

.invoice{
    background-color: white;
}

.header-show{
    background-color:#ab005c;
    color:white;
    margin-top:0px;
    padding: 15px;
}

.property-show{
    background-color: #727272;
    color:white;
    padding: 15px;
}

.property-text{
    margin-left:3%; 
    margin-top:3%; 
}

.logo_lotteries{
    width: 50%;
}

.category_logo{
        width: 90px;
    }

.row{
    padding: 0px !important;
    margin: 0px !important;
}